
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Economist, developer, and data analyst with a passion for designing and building solutions and working with other driven people.">
    <meta name="author" content="Scott Angelius">
    <meta http-equiv="Content-Language" content="en-US">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="economist, developer, data analyst, swing dance, lindy hop" />
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" />

    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css">

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    {% block style %}{% endblock %}

    <title>{% block title %}{% endblock %} | Scott Angelius</title>
</head>

{% block page_body %}{% endblock %}

</html>
