{% extends 'mainsite/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block page_body %}

<body id="page-top">

    <div id="page-full">
        <div id="page-left-half">
            <a href="{% url 'resume' %}">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/Scott-Angelius.jpg' %}" alt="Scott Angelius">
                <h3>Resume</h3>
            </a>
        </div>

        <div id="page-right-half">
            <a href="{% url 'swing_dance' %}">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/scottangelius.jpg' %}" alt="Scott Angelius">
                <h3>Swing Dancing</h3>
            </a>
        </div>
    </div>

</body>

{% endblock%}
