{% extends 'mainsite/base-secondary.html' %}

{% load i18n %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'vendor/lightbox2-2.11.3/dist/css/lightbox.min.css' %}">
{% endblock %}

{% block title %}Swing Dance{% endblock %}

{% block nav_bar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-swing fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">
        <span class="d-block d-lg-none">Scott Angelius</span>
        <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/scott_and_grace.jpg' %}" alt="Scott Angelius">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <h3 class="nav-title-h3">
                Swing Dancing
            </h3>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#pictures">Pictures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#videos">Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#bio">Bio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock%}

{% block content_full %}

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <h1 class="mb-0 title-swing">Scott
                <span class="text-swing">Angelius</span>
            </h1>
            <div class="subheading mb-4">
                Swing Dance Instructor · Knoxville, TN · <a class="js-scroll-trigger" href="#contact">contact me</a>
            </div>
    
            <p class="lead mb-3">
                I've been a Lindy Hopper since 1998 and since my first class I've been hooked.
                As a teacher, I love working with dedicated, focused dancers of all levels.
                I primarily teach with
                <a href="https://hannah-mm.com/" target="_blank">Hannah MacKenzie-Margulies</a>
                and
                <a href="https://www.facebook.com/kelly.arsenault.7524" target="_blank">Kelly Arsenault</a>.
            </p>
            <p class="lead mb-3">
                See my <a class="js-scroll-trigger" href="#bio">bio</a> below for more info.
            </p>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="pictures">
        <div class="w-100">
            <h2 class="mb-3">Pictures</h2>

            <div class="row swing_pictures">
                <div class="col-lg-4">
                    <a data-lightbox="swing-images" href="{% static 'img/scott_lindyfocus1.jpg' %}"
                    data-title="Scott Angelius and Kelly Arsenault at Lindy Focus">
                        <img class="img" src="{% static 'img/scott_lindyfocus1.jpg' %}"
                        alt="Scott Angelius and Kelly Arsenault at Lindy Focus"/>
                    </a>
                    <a data-lightbox="swing-images" href="{% static 'img/scott-grace3.jpg' %}"
                    data-title="Scott Angelius and Grace Durant dancing at Hot Rhythm">
                        <img class="img" src="{% static 'img/scott-grace3.jpg' %}"
                        alt="Scott Angelius and Grace Durant dancing at Hot Rhythm"/>
                    </a>
                    <a data-lightbox="swing-images" href="{% static 'img/scott-grace4.jpg' %}"
                    data-title="Scott Angelius and Grace Durant dancing at Hot Rhythm">
                        <img class="img" src="{% static 'img/scott-grace4.jpg' %}"
                        alt="Scott Angelius and Grace Durant dancing at Hot Rhythm"/>
                    </a>
                    <a data-lightbox="swing-images" href="{% static 'img/scott_lindyfocus2.jpg' %}"
                    data-title="Scott Angelius and Kelly Arsenault at Lindy Focus">
                        <img class="img" src="{% static 'img/scott_lindyfocus2.jpg' %}"
                        alt="Scott Angelius and Kelly Arsenault at Lindy Focus"/>
                    </a>
                    <a data-lightbox="swing-images" href="{% static 'img/scott_bal.jpg' %}"
                    data-title="Scott Angelius dancing with the Amazbals">
                        <img class="img" src="{% static 'img/scott_bal.jpg' %}"
                        alt="Scott Angelius dancing with the Amazbals"/>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a data-lightbox="swing-images" href="{% static 'img/scott-grace1.jpg' %}"
                    data-title="Scott Angelius and Grace Durant in Austin">
                        <img class="img" src="{% static 'img/scott-grace1.jpg' %}"
                        alt="Scott Angelius and Grace Durant in Austin"/>
                    </a>
                    <a data-lightbox="swing-images" href="{% static 'img/scott_austinsoul1.jpg' %}"
                    data-title="Scott Angelius and Kelly Arsenault dancing to soul music">
                        <img class="img" src="{% static 'img/scott_austinsoul1.jpg' %}"
                        alt="Scott Angelius and Kelly Arsenault dancing to soul music"/>
                    </a>
                    <a data-lightbox="swing-images" href="{% static 'img/scott_lindyfocus3.jpg' %}"
                    data-title="Scott Angelius and Kelly Arsenault dancing at Lindy Focus">
                        <img class="img" src="{% static 'img/scott_lindyfocus3.jpg' %}"
                        alt="Scott Angelius and Kelly Arsenault dancing at Lindy Focus"/>
                    </a>
                    <a data-lightbox="swing-images" href="{% static 'img/scott_lhd1.jpg' %}"
                    data-title="Lindy Hoppers' Dozen dancing">
                        <img class="img" src="{% static 'img/scott_lhd1.jpg' %}"
                        alt="Lindy Hoppers' Dozen dancing"/>
                    </a>
                    <a data-lightbox="swing-images" href="{% static 'img/scott_lotr.jpg' %}"
                    data-title="Scott Angelius dancing at Lindy on the Rocks">
                        <img class="img" src="{% static 'img/scott_lotr.jpg' %}"
                        alt="Scott Angelius dancing at Lindy on the Rocks"/>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a data-lightbox="swing-images" href="{% static 'img/scott-grace2.jpg' %}"
                    data-title="Scott Angelius and Grace Durant in Austin">
                        <img class="img" src="{% static 'img/scott-grace2.jpg' %}"
                        alt="Scott Angelius and Grace Durant in Austin"/>
                    </a>
                    <a data-lightbox="swing-images" href="{% static 'img/scott_austinsoul2.jpg' %}"
                    data-title="Scott Angelius and Kelly Arsenault dancing to soul music">
                        <img class="img" src="{% static 'img/scott_austinsoul2.jpg' %}"
                        alt="Scott Angelius and Kelly Arsenault dancing to soul music"/>
                    </a>
                    <a data-lightbox="swing-images" href="{% static 'img/scott_lone_star.jpg' %}"
                    data-title="Scott Angelius and Evita Arce dancing in Austin">
                        <img class="img" src="{% static 'img/scott_lone_star.jpg' %}"
                        alt="Scott Angelius and Evita Arce dancing in Austin"/>
                    </a>
                    <a data-lightbox="swing-images" href="{% static 'img/scott_halloween.jpg' %}"
                    data-title="Scott dressed up for Halloween">
                        <img class="img" src="{% static 'img/scott_halloween.jpg' %}"
                        alt="Scott dressed up for Halloween"/>
                    </a>
                    <a data-lightbox="swing-images" href="{% static 'img/scott_lhd2.jpg' %}"
                    data-title="Lindy Hoppers' Dozen crew">
                        <img class="img" src="{% static 'img/scott_lhd2.jpg' %}"
                        alt="Lindy Hoppers' Dozen crew"/>
                    </a>
                </div>
            </div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="videos">
        <div class="w-100">
        <h2 class="mb-3">Videos</h2>
        
        <div class="row">
          <div class="col-xl-12">
              <div class="video-responsive swing_video">
                  <iframe width="392" height="221" src="https://www.youtube.com/embed/KhVlvNe3FbM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
              <div class="video-responsive swing_video">
                  <iframe width="392" height="221" src="https://www.youtube.com/embed/25CY_JGSBbA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
          <div class="col-xl-6">
              <div class="video-responsive swing_video">
                  <iframe width="392" height="221" src="https://www.youtube.com/embed/eZ3bxTDv7aI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
      </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="video-responsive swing_video">
                    <iframe width="392" height="221" src="https://www.youtube.com/embed/FkCy65k4maQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="video-responsive swing_video">
                    <iframe width="392" height="221" src="https://www.youtube.com/embed/Td6TFlYHizk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="video-responsive swing_video">
                    <iframe width="392" height="221" src="https://www.youtube.com/embed/HPzt4AUuiCY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="video-responsive swing_video">
                    <iframe width="392" height="221" src="https://www.youtube.com/embed/8Vj-v9JDy2U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="video-responsive swing_video">
                    <iframe width="392" height="221" src="https://www.youtube.com/embed/qO_FgtY2jmA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="video-responsive swing_video">
                    <iframe width="392" height="221" src="https://www.youtube.com/embed/nhOM483JbUM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="video-responsive swing_video">
                    <iframe width="392" height="221" src="https://www.youtube.com/embed/FFev2Y6cp88" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="video-responsive swing_video">
                    <iframe width="392" height="221" src="https://www.youtube.com/embed/3W7-aGg-91I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="video-responsive swing_video">
                    <iframe width="392" height="221" src="https://www.youtube.com/embed/8XaTlpS53ZM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="video-responsive swing_video">
                    <iframe width="392" height="221" src="https://www.youtube.com/embed/p5xQmJb6aUQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="bio">
        <div class="w-100">
            <h2 class="mb-4">Bio</h2>
            <p>
                Scott Angelius has been a Lindy Hopper since 1998. He helped build the Austin, TX dance
                community by teaching, running a successful dance company, and organizing events.
                Now in Knoxville, TN, he regularly teaches and mentors dancers.
            </p>
            <p>
                He is passionate about teaching and working with dedicated, focused dancers of all levels.
                In class, he teaches what he loves: exploring and building on the fundamentals, partnership,
                listening, and self-expression. Scott has won numerous Lindy Hop competitions and was a
                member of the renowned team Lindy Hoppers' Dozen.
            </p>
            <p>
                He also helps organize dance events. He is an organizer of the
                <a href="https://www.ilhc.com/" target="_blank">International Lindy Hop Championships</a>
                and the Competition Manager at many of the largest dance competitions in the country. He has
                also developed a competition scoring management system,
                <a href="https://www.rp-scoring.com/" target="_blank">RP-Scoring</a>, which is utilized by
                most large Lindy Hop events in the country. Previously, he founded and ran the Lone Star
                Championships from 2008 to 2013 and was an event director of Lindyfest from 2014 to 2020.
            </p>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="contact">
        <div class="w-100">
            <h2 class="mb-4">Contact me</h2>

            <form id="contactForm" novalidate>
                {% csrf_token %}
                <div class="row vertical-align">
                    <div class="col-lg-12" id="contact_result">
                    </div>
                </div>
                <div class="row vertical-align" id="form_content">
                    <div class="col-md-6 mb-3">
                        <div class="">
                            <p id="contact_name_error" class="help-block text-danger mt-3 mb-0"></p>
                            {{ contact_form.name }}
                        </div>
                        <div class="">
                            <p id="contact_email_error" class="help-block text-danger mt-3 mb-0"></p>
                            {{ contact_form.email }}
                        </div>
                        <div class="">
                            <p id="contact_phone_error" class="help-block text-danger mt-3 mb-0"></p>
                            {{ contact_form.phone }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="">
                            <p id="contact_message_error" class="help-block text-danger mt-3 mb-0"></p>
                            {{ contact_form.message }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center mb-0">
                        <input id="id_submit" type="submit" value="Send Message" class="btn btn-xl btn-primary btn-green"/>
                    </div>
                </div>
            </form>

        </div>
    </section>

{% endblock %}

{% block script %}
    <script src="{% static 'js/contactform.js' %}"></script>
    <script src="{% static 'vendor/lightbox2-2.11.3/dist/js/lightbox-plus-jquery.min.js' %}"></script>
    <script>
        lightbox.option({
            'disableScrolling': true,
            'fadeDuration': 50,
            'imageFadeDuration': 50,
            'resizeDuration': 50,
            'showImageNumberLabel': false,
            'wrapAround': true
        })
    </script>    
{% endblock %}
